/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* 
   { -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
      box-sizing: border-box; 
}

body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


header {
    background-color: antiquewhite;
    padding: .5rem 2%;
    margin-bottom: 1rem;
    border-radius: 6px;
}

header h1 {
    text-align: center;
}

main {
    padding: 0 3%;
    min-height: 20rem;
    background-color: azure;
}

.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: blue;
    padding: 0 .5rem;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 select
 {
    background-color: #eee;
    display: block;
    border: solid 1px #ddd;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

.wf1 input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f260c);
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
}

#writtenReview {
    width: 60%;
}

.wf1 textarea {
    width: 100%;
        display: block;
        height: 100px;
        border: 1px solid #ccc;
        padding: 5px;
        font-size: 16px;
        resize: vertical;
}

footer {
    background-color: antiquewhite;
    padding: .5rem 2%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

footer p {
    text-align: center;
    border-radius: 6px;
}

.other {
    text-align: center;
    padding: 5rem;
}

@media only screen and (min-width: 64rem) {

    header, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    footer {
        margin-top: 1.5rem;
    }
}