:root {
    --primary-color: #009739; 
    --secondary-color: #000000; 
    --text-color: #000000;
    --bg-color: #fff;
}



@media (min-width: 1000px) {
    main {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .hero {
        position: relative;
    }

    .hero picture img {
        width: 100%;
        height: auto;
    }

    .data,
    .weather {
        position: absolute;
        top: 2rem;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .data {
        left: 2rem;
        max-width: 40%;
    }

    .data h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #333;
    }

    .data ul {
        list-style: none;
        padding: 0;
    }

    .data ul li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .data ul li span {
        font-weight: bold;
    }

    .data h2,
    .weather h2 {
        font-size: 1.5rem;
        color: white;
        text-align: center;
        background-color: var(--secondary-color); /* Dark green */
        padding: 0.5rem 1rem;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom: 5px solid #ffd700; /* Add yellow bottom border */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
        margin: 0 0 1rem 0;
    }

    .weather {
        right: 2rem;
        top: 40%;
        bottom: 10%;
        max-width: 40%;
    }

    .weather h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .weather-icon {
        margin-bottom: 1rem;
        text-align: center;
    }

    .weather-icon img {
        width: 80px;
        height: 80px;
    }

    .weather ul {
        list-style: none;
        padding: 0;
        text-align: left;
    }

    .weather ul li {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .weather ul li span {
        font-weight: bold;
    }
}

