* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}

header h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

nav {
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#nav-menu a {
    color: white;
}

nav ul li {
    margin: 0 10px;
    
}

nav a {
	color: white;
	text-align: center;
	text-decoration: none;
    padding: 2px;
    font-size: 20px;
}


nav a:hover {
	text-decoration: underline double;
	background-color: black;
	color: white;
}

.active {
	color: red;
}

.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
}

.hamburger:focus {
    outline: none;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

main h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

footer {
    background: #003366;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    font-size: 0.9em;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    
    
}




